<!DOCTYPE html>
<html lang="pt-br">
<head>
    <!-- Required meta tags -->
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- FontAwesome -->
    <link href="~/Content/font-awesome.min.css" rel="stylesheet" />

    <!-- Google fonts -->
    <link href="https://fonts.googleapis.com/css?family=Barlow:400,500,600,700&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Barlow+Condensed:400,500,600,700&display=swap" rel="stylesheet">

    <!-- Stylesheets -->
    <link rel="stylesheet" href="~/content/plugins.css">
    <link rel="stylesheet" href="~/content/style.css">
    <link rel="stylesheet" href="~/Content/jquery.timeliny.min.css" />
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <style>
        .w3-modal {
            z-index: 150;
        }

        .subnav-title {
            display: none
        }
        
        .suy, .subnav-item, nav-link, submenu {
            font-family: 'McKinsey Theinhardt', 'Helvetica Neue', Calibri, Corbel, Helvetica, Roboto, Droid, sans-serif;
            font-size: 1.125rem;
            font-weight: 500;
            line-height: 1.2;
            color: #fff;
        }

        #submenu li.nav-item {
            width: 33.33%;
            float: left;
        }

        div.menu {
            position: fixed;
        }

        .header-white .menu span {
            background-color: black; /*cor do menu*/
        }
    </style>
    @RenderSection("css", required: false)



    <link rel="shortcut icon" type="image/x-icon" href="https://taticca.com.br/assets/images/favicon.ico">
    <title>@ViewBag.Title</title>
</head>
<body>
    <!-- pre-loader start -->
    <div class="preloader">
        <div class="preloader-num"></div>
    </div>
    <!-- pre-loader end -->
    <!-- placeholder start -->
    <div class="secondary-page-background-placeholder"></div>
    <!-- placeholder end -->
    <!-- cursor start -->
    <div class="cursor">
        <div id="cursor" class="cursor-item"></div>
    </div>
    <!-- cursor end -->
    <!-- main start -->
    <main id="swup">

        <!-- to-top-button start -->
        <a href="#firstSection" class="to-top-button click-target">
            <i class="fa fa-arrow-left"></i>
        </a>
        <!-- to-top-button end -->
        <!-- header start -->
        <header class="header header-white">
            <!-- menu-icon start -->
            <div class="menu-outer-wrap">
                <div class="menu-wrap ">
                    <div class="menu menu-hover click-target pull-left" style="color:white;">
                        <span class="menu-line-1"></span>
                        <span class="menu-line-2"></span>
                        <span class="menu-line-3"></span>
                    </div>
                </div>
            </div>
            <div class="logo-box pull-left" style="left: 90px; margin-top: 8px; position: absolute;">
                <a data-swup href="/" class="logo">
                    <img src="~/img/logo/logo.fw.png" alt="logo"  id="logotaticca">
                </a>
            </div>
            <!-- menu-icon end -->
            <!-- logo start -->
            @*<div class="logo-box text-right">
                    <a data-swup href="/" class="logo">
                        <img src="~/img/logo/logo.fw.png" alt="logo" width="68%">
                    </a>
                </div>*@
            <!-- logo end -->
        </header>
        <!-- header end -->
        <!-- menu-navigation end -->
        <div class="menu-navigation">
            <!-- menu-overlay start -->
            <div class="menu-overlay click-target"></div>
            <!-- menu-overlay end -->
            <!-- menu-background start -->
            <div class="menu-pre-background"></div>
            <!-- menu-background end -->
            <!-- menu-inner start -->
            <div class="menu-inner">
                <div class="menu-header" style="margin-top:30px; width:200px; margin-left: 84px;">
                    <img src="~/img/logo/branco.fw.png" />
                </div>
                <!-- menu-container start -->
                <div class="menu-container">

                    <!-- menu-header start -->
                   
                    <!-- menu-header end -->

                    <div class="row" style="margin-top:42px;">
                        <!-- navigation start -->
                        <nav class="navigation col-md-12" id="principalmenu">
                            <ul class="navigation-list">
                                <li class="navigation-item">
                                    <a class="nav-link suy">
                                        Sobre Nós
                                        <i class="fa fa-arrow-right"></i>
                                    </a>

                                    <div class="subnav">
                                        <ul class="subnav-list">
                                            <li class="subnav-item">
                                                <a class="subnav-title">
                                                    <i class="fa fa-arrow-left"></i>
                                                    Sobre a TATICCA Allinial Global
                                                </a>
                                            </li>
                                            <li class="subnav-item">
                                                <a data-swup href="/sobrenos">Sobre Nós </a>
                                            </li>
                                            <li class="subnav-item">
                                                <a data-swup href="/sobrenos">Sobre a TATICCA Allinial Global </a>
                                            </li>
                                            <li class="subnav-item">
                                                <a data-swup href="/equipe">
                                                    Conheça nossos executivos
                                                </a>
                                            </li>
                                            <li class="subnav-item">
                                                <a data-swup href="/home/#escritorios">
                                                    Encontre nossos escritórios

                                                </a>
                                            </li>
                                            <li class="subnav-item">
                                                <a data-swup href="/home/#escritorios">
                                                    Visite nossa sala de impressa e mídias

                                                </a>
                                            </li>
                                            <li class="subnav-item">
                                                <a data-swup href="/home/#escritorios">
                                                    Registre-se em nosso programa Alumni

                                                </a>
                                            </li>
                                        </ul>
                                    </div>
                                </li>
                                <li class="navigation-item">
                                    <a class="nav-link suy">
                                        Nossos Serviços
                                        <i class="fa fa-arrow-right"></i>
                                    </a>

                                    <div class="subnav">
                                        <ul class="subnav-list">
                                            <li class="subnav-item">
                                                <a class="subnav-title">
                                                    <i class="fa fa-arrow-left"></i>
                                                    Nossos Serviços
                                                </a>
                                            </li>
                                            <li class="subnav-item">
                                                <a data-swup href="@Url.Action("index", "Servico")">Ver todos</a>
                                            </li>
                                            <li class="subnav-item">
                                                <a data-swup href="@Url.Action("AuditoriaInternaEExterna", "Servico")">
                                                    Audit
                                                </a>
                                            </li>
                                            <li class="subnav-item">
                                                <a data-swup href="@Url.Action("STRATEGYOPERATIONSADVISORY", "Servico")">
                                                    Strategy Operation Advisory
                                                </a>
                                            </li>
                                            <li class="subnav-item">
                                                <a data-swup href="@Url.Action("RISKADVISORY", "Servico")">
                                                    Risk Advisory
                                                </a>
                                            </li>
                                            <li class="subnav-item">
                                                <a data-swup href="@Url.Action("CORPORATEFINANCE", "Servico")">
                                                    Transaction
                                                </a>
                                            </li>
                                            <li class="subnav-item">
                                                <a data-swup href="@Url.Action("Tax", "Servico")">
                                                    Tax
                                                </a>
                                            </li>
                                            <li class="subnav-item">
                                                <a data-swup href="@Url.Action("TECHNOLOGY", "Servico")">
                                                    Technology
                                                </a>
                                            </li>
                                            <li class="subnav-item">
                                                <a data-swup href="@Url.Action("CORPORATEFINANCE", "Servico")">
                                                    Corporate Finance
                                                </a>
                                            </li>
                                            <li class="subnav-item">
                                                <a data-swup href="@Url.Action("OUTSOURCING", "Servico")">
                                                    BPS / Outsourcing
                                                </a>
                                            </li>



                                            <li class="subnav-item">
                                                <a data-swup href="@Url.Action("TRAINING", "Servico")">
                                                    TATICCA  University / Training
                                                </a>
                                            </li>

                                            <li class="subnav-item">
                                                <a data-swup href="@Url.Action("TRAINING", "Servico")">
                                                    Sustentabilidade
                                                </a>
                                            </li>

                                        </ul>
                                    </div>
                                </li>
                                <li class="navigation-item">
                                    <a class="nav-link suy">
                                        O que oferecemos por setor
                                        <i class="fa fa-arrow-right"></i>
                                    </a>

                                    <div class="subnav">
                                        <ul class="subnav-list">
                                            <li class="subnav-item">
                                                <a class="subnav-title">
                                                    <i class="fa fa-arrow-left"></i>

                                                </a>
                                            </li>
                                            <li class="subnav-item">
                                                <a data-swup href="/equipe">
                                                    Automotivo
                                                </a>
                                            </li>
                                            <li class="subnav-item">
                                                <a data-swup href="/equipe">
                                                    Energia e serviços de utilidade pública
                                                </a>
                                            </li>
                                            <li class="subnav-item">
                                                <a data-swup href="/home/#escritorios">
                                                    German Desk
                                                </a>
                                            </li>
                                            <li class="subnav-item">
                                                <a data-swup href="/home/#escritorios">
                                                    Healthcare
                                                </a>
                                            </li>


                                            <li class="subnav-item">
                                                <a data-swup href="/home/#escritorios">
                                                    Private Equity
                                                </a>
                                            </li>
                                            <li class="subnav-item">
                                                <a data-swup href="/home/#escritorios">
                                                    Serviços financeiros
                                                </a>
                                            </li>
                                            <li class="subnav-item">
                                                <a data-swup href="/home/#escritorios">
                                                    Tecnologia e Softwares
                                                </a>
                                            </li>
                                            <li class="subnav-item">
                                                <a data-swup href="/home/#escritorios">
                                                    Turismo e lazer
                                                </a>
                                            </li>

                                            <li class="subnav-item">
                                                <a data-swup href="/home/#escritorios">
                                                    Varejo e consumo
                                                </a>
                                            </li>
                                            <li class="subnav-item">
                                                <a data-swup href="/home/#escritorios">
                                                    Infraestrutura (Rodovias e Portos) e grandes projetos
                                                </a>
                                            </li>
                                        </ul>
                                    </div>
                                </li>
                                <li class="navigation-item">
                                    <a class="nav-link suy" data-swup href="/Contato">Análises e estudos </a>
                                </li>
                                <li class="navigation-item">
                                    <a class="nav-link suy" data-swup href="/Contato">Carreira na TATICCA</a>
                                </li>

                                <li class="navigation-item">
                                    <a class="nav-link suy">
                                        Encontre nossos escritórios
                                        <i class="fa fa-arrow-right"></i>
                                    </a>

                                    <div class="subnav">
                                        <ul class="subnav-list">
                                            <li class="subnav-item">
                                                <a class="subnav-title">
                                                    <i class="fa fa-arrow-left"></i>

                                                </a>
                                            </li>
                                            <li class="subnav-item">
                                                <a data-swup href="/equipe">
                                                    <img src="~/img/Escritorios/saopaulo.jpg" />
                                                    São Paulo
                                                </a>
                                            </li>
                                            <li class="subnav-item">
                                                <a data-swup href="/equipe">
                                                    <img src="~/img/Escritorios/curitiba.jpg" />
                                                    Curitiba
                                                </a>
                                            </li>
                                            <li class="subnav-item">
                                                <a data-swup href="/equipe">
                                                    <img src="~/img/Escritorios/portoalegre.jpg" />
                                                    Porto Alegre
                                                </a>
                                            </li>
                                            <li class="subnav-item">
                                                <a data-swup href="/equipe">
                                                    <img src="~/img/Escritorios/blumenau.jpg" />
                                                    Blumenau
                                                </a>
                                            </li>


                                            <li class="subnav-item">
                                                <a data-swup href="/equipe">
                                                    <img src="~/img/Escritorios/belohorizonte.jpg" />
                                                    Belo Horizonte
                                                </a>
                                            </li>
                                            <li class="subnav-item">
                                                <a data-swup href="/equipe">
                                                    <img src="~/img/Escritorios/brasilia.jpg" />
                                                    Brasília
                                                </a>
                                            </li>
                                            <li class="subnav-item">
                                                <a data-swup href="/equipe">
                                                    <img src="~/img/Escritorios/riodejaneiro.jpg" />
                                                    Rio de Janeiro
                                                </a>
                                            </li>
                                        </ul>
                                    </div>
                                </li>
                                <li class="navigation-item">
                                    <a class="nav-link suy" data-swup href="/Contato">Solicite sua proposta </a>
                                </li>
                                <li class="navigation-item">
                                    <a class="nav-link suy" data-swup href="/Contato">
                                        Fale Conosco
                                    </a>
                                </li>
                                <li class="navigation-item">
                                    <a class="nav-link suy" data-swup href="/Contato">
                                        Área do Cliente
                                    </a>
                                </li>
                            </ul>
                        </nav>
                        <!-- navigation end -->

                        <div id="submenu" style="position: absolute;left: 30vw;top: 100px; top: 100px; width: 65vw;">
                            <h2></h2>
                            <ul class="navigation-list"></ul>
                        </div>
                    </div>
                    <!-- social start -->
                    <!-- social end -->

                </div>
                <!-- menu-container end -->
            </div>
            <!-- menu-inner end -->
        </div>
        <!-- menu-navigation end -->

        @RenderBody()
    </main>
    <!-- main end -->
    <!-- footer start -->
    <footer class="footer bg-black" style="color:#64676b";>
        <div class="container">
            <div class="row justify-content-md-between justify-content-sm-center" style="margin-bottom: 10px; color:white">

                <div class="col-md-3 col-sm-10">
                    <div>
                        <h3 class="footer-title text-white slide-up" style="font-size: 19px;">SERVIÇOS</h3>
                        <ul class="footer-content">
                            <li style="list-style-type: none;"><hr style="height:2px; border:none; color:white; background-color:white; margin-top: 0px; margin-bottom: 0px;" /></li>

                            <li>Auditoria externa</li>
                            <li>Consultoria empresarial</li>
                            <li>Corporate finance</li>
                            <li>Contabilidade</li>
                            <li>Impostos</li>
                            <li>Tecnologia</li>
                        </ul>
                    </div>
                </div>
                <div class="col-md-3 col-sm-10">
                    <div>
                        <h3 class="footer-title text-white slide-up" style="font-size: 19px;">SETORES DE ATUAÇÃO</h3>
                        <ul class="footer-content">
                            <li style="list-style-type: none;"><hr style="height:2px; border:none; color:white; background-color:white; margin-top: 0px; margin-bottom: 0px;" /></li>

                            <li>Agronegócios</li>
                            <li>Bens de consumo </li>
                            <li>Corporate finance</li>
                            <li>Contabilidade</li>
                            <li>Impostos</li>
                            <li>Tecnologia</li>
                        </ul>
                    </div>
                </div>

                <div class="col-md-3 col-sm-10">
                    <div>
                        <h3 class="footer-title text-white slide-up" style="font-size: 19px;">SERVIÇOS</h3>
                        <ul class="footer-content">
                            <li style="list-style-type: none;"><hr style="height:2px; border:none; color:white; background-color:white; margin-top: 0px; margin-bottom: 0px;" /></li>

                            <li>Auditoria externa</li>
                            <li>Consultoria empresarial</li>
                            <li>Corporate finance</li>
                            <li>Contabilidade</li>
                            <li>Impostos</li>
                            <li>Tecnologia</li>
                        </ul>
                    </div>
                </div>


                <div class="col-md-3 col-sm-10">
                    <div>
                        <h3 class="footer-title text-white slide-up" style="font-size: 19px;">SERVIÇOS</h3>
                        <ul class="footer-content">
                            <li style="list-style-type: none;"><hr style="height:2px; border:none; color:white; background-color:white; margin-top: 0px; margin-bottom: 0px;" /></li>

                            <li>Auditoria externa</li>
                            <li>Consultoria empresarial</li>
                            <li>Corporate finance</li>
                            <li>Contabilidade</li>
                            <li>Impostos</li>
                            <li>Tecnologia</li>
                        </ul>
                    </div>
                </div>
            </div>


            <div class="row justify-content-between footer-bottom slide-up delay-1">
                <div class="col-md-6">
                    <div class="copyright">
                        <p class="text-white slide-up">2019 @@ TATICCA. All rights reserved</p>
                    </div>
                </div>

                <div class="col-md-6">
                    <div class="footer-social social slide-up">
                        <div class="social-item">
                            <a class="text-white" href="/#">
                                <i class="fa fa-twitter"></i>
                            </a>
                        </div>
                        <div class="social-item">
                            <a class="text-white" href="/#">
                                <i class="fa fa-instagram"></i>
                            </a>
                        </div>
                        <div class="social-item">
                            <a class="text-white" href="/#">
                                <i class="fa fa-youtube"></i>
                            </a>
                        </div>
                        <div class="social-item">
                            <a class="text-white" href="/#">
                                <i class="fa fa-linkedin"></i>
                            </a>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </footer>

    <!-- footer end -->
    <!-- JavaScript -->
    <script src="~/scripts/plugins.js"></script>
    <script src="~/scripts/main.js"></script>
    <!--JS de Código de história-->
    <!-- Vendors JS -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/8.7/highlight.min.js"></script>
    <script>hljs.initHighlightingOnLoad();</script>
    <!-- Plugin JS -->
    <script src="~/Scripts/jquery.timeliny.min.js"></script>
    <!-- Basic example -->

    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
    <script>
        var visible = true;

        $(function () {
            
            $('.click-target').click(function () {
                $('.logo-box').fadeToggle();
            });

            $('#principalmenu a').mouseover(function () {
                if ($(this).parent().find('.subnav-list').length == 0) {
                    $('#submenu h2').text('');
                    $('#submenu ul').fadeOut('fast');
                }
                else {
                    $('#submenu h2').text($(this).text());

                    $('#submenu ul').hide().fadeIn('fast');
                    $('#submenu ul').html($(this).parent().find('.subnav-list').html());
                    $('#submenu ul .subnav-item').attr('class', 'nav-item');
                    $('#submenu ul .subnav-title').attr('style', 'font-size:32px');
                    $('#submenu ul .nav-item a').attr('style', 'padding:10px;font-family: \'McKinsey Theinhardt\', \'Helvetica Neue\', Calibri, Corbel, Helvetica, Roboto, Droid, sans-serif; font- size: 1.125rem; font - weight: 300; position: relative; cursor: pointer; word -break: break-word; color: #000; display: block; margin: 16px 0px 16px 0px; padding: 0 24px 0 0');
                    $('#submenu ul li:eq(0)').remove();
                }
                //teste = $(this);
            });


            $('.popover').mouseenter(function () {
                $('#section-subheadingdynamic').hide().text($(this).attr('data-content'));

                var topatual = 'top: ' + $('#section-subheadingdynamic').attr('data-top') + '%';
                var leftatual = 'left: ' + $('#section-subheadingdynamic').attr('data-left') + '%';
                var styleatual = $('#section-subheadingdynamic').attr('style');

                var topatualizado = parseFloat($(this).attr('data-top')) - 4;
                var leftatualizado = $(this).attr('data-left');

                styleatual = styleatual.replace(topatual, 'top: ' + topatualizado + '%');
                styleatual = styleatual.replace(leftatual, 'left: ' + leftatualizado + '%');

                $('#section-subheadingdynamic').attr('style', styleatual)
                    .attr('data-top', topatualizado)
                    .attr('data-left', leftatualizado).fadeIn('fast');
            });
            $('#demo1').timeliny({
                hideBlankYears: true
            });
        });
    </script>
    @RenderSection("js", required: false)

    <script>
        $(function () { if (window.location.pathname.toLowerCase() != localStorage["paginareferencia"]) { if (window.location.pathname.toLowerCase() == '/sobrenos') { window.location.reload(); } } localStorage["paginareferencia"] = window.location.pathname.toLowerCase(); })
    </script>
</body>
</html>